.addButton {
  position: absolute;
  right: 0px;
  padding: 0px;

  /* display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #3eb0e6;
  transition: 0.2s;
  text-align: center;
  transform: scale(0.9);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: lighten(#3f51b5, 10%);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3); */
}
